.settings-final__form {
	margin-top: 165px;
}

.settigs-final__title {
	font-size: 22px;
	font-family: "Termina", sans-serif;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 21px 0;
}

@media (min-width: 1024px) {
	.settings-final__form {
		margin-top: 252px;
	}
}
