.albums {
	margin-top: 15px;
}

.albums__title {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	margin: 0;
}

.albums__container {
	margin: 10px 0 40px 0;
}

.albums__wrapper {
	display: block;
	position: relative;
	width: 110px;
	height: 140px;
	border-radius: 20px;
	background-color: var(--secondary-bg);
	color: black;
}

.albums__wrapper::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 44.34%, rgba(0, 0, 0, 0) 100%);
	border-radius: 20px;
}

.albums__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.albums__name {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--light--text);
	padding: 0 5px;
}

.albums__container .swiper-slide {
	width: 110px !important;
	margin-right: 5px;
}

.albums__container .swiper-wrapper {
	padding: 2px 2px !important;
}

@media (min-width: 1024px) {
	.albums {
		margin-top: 40px;
	}

	.albums__title {
		font-size: 16px;
		line-height: 21px;
	}

	.albums__container {
		margin: 19px 0 100px 0;
	}

	.albums__wrapper {
		width: 200px;
		height: 258px;
		border-radius: 20px;
	}

	.albums__name {
		font-size: 14px;
		line-height: 18px;
		padding: 0 10px;
	}

	.albums__container .swiper-slide {
		width: 200px !important;
		margin-right: 5px;
	}
}
