.btn {
	display: inline-block;
	background-color: var(--accent-color);
	font-family: "Futura PT", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	padding: 14px 20px 13px 20px;
	border-style: none;
	border-radius: 50px;
	color: var(--btn-text);
	cursor: pointer;
	width: 100%;
}

.btn--transparent {
	background-color: transparent;
	position: relative;
}

.btn--transparent::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #ffffff;
	border-radius: 50px;
}

.btn--white {
	background-color: #ffffff;
	color: var(--main-text);
}

.btn--blue {
	background-color: #ffffff;
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.btn:disabled {
	opacity: 0.33;
	cursor: auto;
}

@media (min-width: 1024px) {
	.btn {
		font-size: 22px;
	}

	.btn--transparent {
		max-width: 300px;
	}

	.btn--white {
		max-width: 200px;
	}
}
