.btn {
	display: inline-block;
	background-color: var(--accent-color);
	font-family: "Karla", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	padding: 14px 20px;
	border-style: none;
	border-radius: 50px;
	color: var(--btn-text);
	cursor: pointer;
	width: 100%;
}

.btn--transparent {
	background-color: transparent;
	border: 2px solid #ffffff;
}

.btn--white {
	background-color: #ffffff;
	color: var(--main-text);
}

.btn--blue {
	background-color: #ffffff;
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.btn:disabled {
	opacity: 0.33;
}

@media (min-width: 1024px) {
	.btn {
		font-size: 22px;
	}

	.btn--transparent {
		max-width: 300px;
	}

	.btn--white {
		max-width: 200px;
	}
}
