.dashboard {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dashboard__dec {
	display: block;
	margin: 20px auto;
}

.dashboard__title {
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin: 0 0 15px 0;
	text-align: center;
}

.dashboard__text {
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	margin: 0 0 40px 0;
}

.dashboard__hr {
	height: 5px;
	background-color: #f4f4f4;
	border-style: none;
	margin: 0;
}

.dashboard__subtitle {
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin: 40px 0 20px 0;
}

.dashboard__prints {
	margin-bottom: 60px;
}

.dashboard__wrapper {
	width: 167px;
	height: 215px;
	border-radius: 20px;
}

.dashboard__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.dashboard__prints .swiper-slide {
	width: 167px !important;
	margin-right: 5px;
}

@media (min-width: 1024px) {
	.dashboard__dec {
		width: 110px;
		height: 100px;
	}

	.dashboard__title {
		font-size: 30px;
		line-height: 38px;
		margin: 0 0 20px 0;
	}

	.dashboard__text {
		font-size: 22px;
		line-height: 28px;
		margin: 0 0 100px 0;
	}

	.dashboard__hr {
		display: none;
	}

	.dashboard__subtitle {
		font-size: 30px;
		line-height: 38px;
		margin: 0 0 20px 0;
	}

	.dashboard__wrapper {
		width: 200px;
		height: 255px;
	}

	.dashboard__prints {
		margin-bottom: 100px;
	}

	.dashboard__prints .swiper-slide {
		width: 200px !important;
		margin-right: 10px;
	}
}
