.input {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	font-family: "Futura PT", sans-serif;
	margin: 0;
	background-color: #f4f4f4;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 0 13px;
	height: 40px;
	width: 100%;
}

.custom-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
	font-weight: 500;
}

.custom-checkbox__input {
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0.00001;
	margin: 0;
	font-size: 100%;
	border: none;
	cursor: pointer;
}

.custom-checkbox__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	color: transparent;
	border: 1px solid #e3e0d8;
	border-radius: 5px;
	margin-right: 10px;
	transition: all 0.1s linear;
}

.custom-checkbox__svg * {
	transition: all 0.1s linear;
}

.custom-checkbox__input:checked + .custom-checkbox__wrapper {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.custom-checkbox__input:focus:not(:focus-visible) svg {
	outline: none;
}

.react-tel-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Futura PT", sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

.react-tel-input .form-control {
	position: relative;
	font-size: 16px;
	font-family: "Futura PT", sans-serif;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: normal;
	margin: 0;
	background-color: #f4f4f4;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 0 13px;
	height: 40px;
	width: 265px;
	outline: initial;
}

.react-tel-input .flag-dropdown {
	order: -1;
	position: static;
	height: 40px;
	width: 70px;
	background-color: #f4f4f4;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
	background-color: #f4f4f4;
	border-radius: 10px;
}

.react-tel-input .flag-dropdown.open {
	background-color: #f4f4f4;
	border-radius: 10px;
}

.react-tel-input .flag-dropdown.open .selected-flag {
	background-color: #f4f4f4;
	border-radius: 10px;
}

.react-tel-input .selected-flag {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
	margin-left: -5px;
}

.react-tel-input .country-list {
	width: 100%;
}

@media (min-width: 1024px) {
	.input {
		font-size: 18px;
		line-height: 23px;
	}

	.custom-checkbox {
		font-size: 18px;
		line-height: 23px;
	}

	.react-tel-input .form-control {
		font-size: 18px;
		line-height: 23px;
	}

	.react-tel-input .form-control {
		width: 340px;
	}
}
