.header {
	padding: 20px 0 19px 0;
	border-top: 1px solid #f1f0ec;
	border-bottom: 1px solid #f1f0ec;
}

.header--small {
	position: relative;
	padding: 10px 0;
}

.header--small > .header__btn {
	left: 7px;
}

.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	max-width: 375px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container--left {
	justify-content: left;
}

.header__content {
	margin-left: 40px;
}

.header__title {
	font-size: 18px;
	font-family: "Termina", sans-serif;
	font-weight: 700;
	line-height: 22px;
	margin: 0 0 10px 0;
}

.header__info {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.header__amount {
	color: var(--accent-color);
}

.header__btn {
	display: none;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	background-color: transparent;
	border-style: none;
	padding: 0;
	align-self: flex-start;
	cursor: pointer;
}

.header__btn--visible {
	display: block;
}

.header__avatar {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.header__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

@media (min-width: 1024px) {
	.header {
		padding: 19px 0;
	}

	.header__container {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}

	.header__logo {
		width: 179px;
		height: 22px;
	}

	.header__avatar {
		right: 40px;
	}

	.header__btn {
		left: 40px;
	}

	.header__content {
		display: flex;
		align-items: center;
	}

	.header__title {
		font-size: 22px;
		line-height: 26px;
		margin: 0 38px 0 0;
	}

	.header__info {
		font-size: 16px;
		line-height: 21px;
	}
}

@media (min-width: 1260px) {
	.header__content {
		margin-left: 0;
	}
}
