.lightbox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--secondary-bg);
	z-index: 999;
}

.lightbox__container {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 20px 0 30px 0;
}

.lightbox__btns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 15px;
}

.lightbox__photo {
	position: relative;
	margin: 35px 0;
}

.lightbox__img {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
}

.lightbox__close {
	background-color: transparent;
	border-style: none;
	padding: 0 0 0 15px;
	cursor: pointer;
	color: #ffffff;
}

.lightbox__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--btn-text);
	background-color: transparent;
	border-style: none;
	padding: 0;
	margin-right: 30px;
	font-family: "Karla", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	cursor: pointer;
}

.lightbox__svg {
	margin-bottom: 5px;
}

.lightbox__see {
	max-width: 200px;
}
