.otp__title {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	margin: 0 0 15px 0;
}

.otp__text {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 20px 0;
}

.otp__bold {
	font-weight: 500;
}

.otp__resend {
	font-family: "Karla", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	background-color: transparent;
	border-style: none;
	color: var(--accent-color);
	padding: 0;
	margin-bottom: 20px;
	cursor: pointer;
}

.otp__code {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.otp__number {
	background-color: #f4f4f4;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	width: 45px;
	height: 40px;
	-moz-appearance: textfield;
	padding: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	font-family: "Karla", sans-serif;
	line-height: 20px;
}

.otp__number::-webkit-outer-spin-button,
.otp__number::-webkit-inner-spin-button {
	appearance: none;
}
