.paymentForm__content {
	position: absolute;
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	padding: 20px 15px 40px 15px;
	background-color: var(--main-bg);
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.paymentForm__header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 23px;
}

.paymentForm__title {
	font-size: 18px;
	font-family: "Termina", sans-serif;
	line-height: 22px;
	font-weight: 600;
	margin: 0;
}

.paymentForm__close {
	position: absolute;
	top: 3px;
	left: 0;
	height: 17px;
	background-color: transparent;
	border-style: none;
	padding: 0;
	cursor: pointer;
	color: var(--main-text);
}

.paymentForm__info {
	display: flex;
}

.paymentForm__text {
	margin: 0 15px 0 0;
}

.paymentForm__fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	margin: 0;
	padding: 0;
}

.paymentForm__info + .paymentForm__fieldset {
	margin-top: 21px;
}

.paymentForm__label {
	display: grid;
	grid-template-columns: 20px 1fr 50px;
	gap: 10px;
	margin-bottom: 20px;
	font-weight: 500;
}

.paymentForm__radio {
	margin: 0;
	height: 20px;
	width: 20px;
	accent-color: var(--accent-color);
}

.paymentForm__radio:checked ~ span,
.paymentForm__radio:checked ~ b {
	color: var(--accent-color);
}

.paymentForm__price {
	font-weight: 500;
	justify-self: end;
}

.paymentForm__info + .paymentForm__btns {
	margin-top: 31px;
}

.paymentForm__apple {
	height: 50px;
	grid-column: span 2;
	border-radius: 50px;
}

.paymentForm__checkout {
	height: 50px;
	font-size: 22px;
	line-height: 28px;
	padding: 0;
}

.paymentForm__paypal {
	height: 50px;
}

@media (min-width: 1024px) {
	.paymentForm {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.paymentForm__content {
		max-width: 480px;
		top: 50%;
		bottom: auto;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		padding: 15px 20px 20px 20px;
	}

	.paymentForm__header {
		margin-bottom: 15px;
	}

	.paymentForm__title {
		font-size: 22px;
		line-height: 26px;
	}

	.paymentForm__info {
		margin-bottom: 20px;
	}

	.paymentForm__text,
	.paymentForm__price,
	.paymentForm__label {
		font-size: 18px;
		line-height: 23px;
	}

	.paymentForm__checkout {
		padding: 11px 20px;
	}
}
