.selfi__title {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	margin: 0 0 15px 0;
}

.selfi__text {
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	margin: 0 0 30px 0;
}

.selfi__wrapper {
	position: relative;
	width: 181px;
	height: 181px;
	margin: 0 auto;
}

.selfi__avatar {
	display: block;
	width: 100%;
	height: auto;
}

.selfi__picker {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	width: 42px;
	height: 42px;
}

.selfi__btn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 42px;
	height: 100%;
	margin: 0;
	opacity: 0.00001;
	cursor: pointer;
}

.selfi__label {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: var(--accent-color);
	border-style: none;
	border-radius: 50%;
	height: 42px;
	width: 42px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.selfi__open {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: var(--accent-color);
	border-style: none;
	border-radius: 50%;
	height: 42px;
	width: 42px;
	padding: 0;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.selfi__form {
	display: none;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-bg);
	padding: 23px 15px 40px 15px;
}

.selfi__form--visible {
	display: block;
}

.selfi__container {
	position: relative;
	height: 100%;
	max-width: 375px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.selfi__close {
	position: absolute;
	background-color: transparent;
	border-style: none;
	padding: 0;
	cursor: pointer;
	color: #ffffff;
}

.selfi__subtitle {
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

.selfi__subtext {
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	margin: 0 0 40px 0;
}

.selfi__video {
	display: block;
	object-fit: cover;
	border-radius: 50%;
	margin: 0 auto;
}

.selfi__fieldset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	border-style: none;
	margin: 0;
	padding: 0;
}

.selfi__retake {
	background-color: transparent;
	border: 1px solid #ffffff;
}

.selfi__retake--dk {
	display: none;
}

.selfi__save {
	background-color: #ffffff;
	color: var(--main-text);
}

.reactEasyCrop_Container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 285px;
	width: 285px;
	overflow: hidden;
	user-select: none;
	touch-action: none;
	cursor: move;
	border-radius: 50%;
	margin: 0 auto;
}

.reactEasyCrop_Image,
.reactEasyCrop_Video {
	will-change: transform;
}

.reactEasyCrop_Contain {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.reactEasyCrop_Cover_Horizontal {
	width: 100%;
	height: auto;
}

.reactEasyCrop_CropArea {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	box-shadow: 0 0 0 9999em;
	border-radius: 50%;
	overflow: hidden;
}
