.spinner {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 3px solid #ffffff;
	border-color: #fff transparent #fff transparent;
	border-radius: 50%;
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
