.terms__title {
	font-size: 18px;
	font-family: "Termina", sans-serif;
	font-weight: 700;
	line-height: 22px;
	margin: 20px 0 16px 0;
	text-align: center;
}

.terms__subtitle {
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.02em;
	margin: 0 0 10px 0;
}

.terms__text,
.terms__ul {
	font-size: 16px;
	line-height: 21px;
	letter-spacing: -0.02em;
	margin: 0 0 20px 0;
}

.terms__bold {
	font-weight: 500;
}

.terms__link {
	color: var(--main-text);
	text-decoration: none;
}

@media (min-width: 1024px) {
	.terms__title {
		font-size: 30px;
		line-height: 36px;
		margin: 40px 0 15px 0;
	}

	.terms__subtitle {
		font-size: 18px;
		line-height: 23px;
	}

	.terms__text,
	.terms__ul {
		font-size: 18px;
		line-height: 23px;
		margin: 0 0 30px 0;
	}

	.terms__avatar {
		display: none;
	}
}
