/* Futura-pt 400 */
@font-face {
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Futura-pt/futura-pt-400.woff2") format("woff2"),
		url("../fonts/Futura-pt/futura-pt-400.woff") format("woff");
}

/* Futura-pt 500 */
@font-face {
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Futura-pt/futura-pt-500.woff2") format("woff2"),
		url("../fonts/Futura-pt/futura-pt-500.woff") format("woff");
}

/* Termina 700 */
@font-face {
	font-family: "Termina";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Termina/termina-700.woff2") format("woff2"),
		url("../fonts/Termina/termina-700.woff") format("woff");
}
