@media (min-width: 1024px) {
	.photos__title {
		font-size: 16px;
		line-height: 20px;
	}

	.photos__gallery {
		margin: 20px 0 0 0;
	}

	.photos__btn {
		display: block;
		max-width: 300px;
		margin: 100px auto;
	}
}
