@media (min-width: 1024px) {
	.stripeModal {
		background-color: #0005;
	}

	.stripeModal__content {
		max-width: 480px;
		top: 50%;
		bottom: auto;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		padding: 15px 20px 20px 20px;
	}

	.stripeModal__header {
		margin-bottom: 15px;
	}

	.stripeModal__title {
		font-size: 22px;
		line-height: 26px;
	}

	.stripeModal__info {
		margin-bottom: 20px;
	}

	.stripeModal__text,
	.stripeModal__price,
	.stripeModal__label {
		font-size: 18px;
		line-height: 23px;
	}

	.stripeModal__apple,
	.stripeModal__checkout,
	.stripeModal__paypal {
		padding: 11px 20px;
	}

	.stripeModal__apple img {
		width: 74px;
		height: 27px;
	}

	.stripeModal__paypal img {
		width: 130px;
		height: 28px;
	}
}
